.container {
  z-index: 999;
  top: 28px;
  right: 68px;
  position: fixed;
}
.container svg{
    color: white;
}

.iconWrapper {
  position: relative;
  cursor: pointer;
}

.dot {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #ef4444;
  border-radius: 50%;
  border: 2px solid white;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 35px;

  width: 300px;
  max-height: 350px;
  min-height: 350px;
  overflow-y: auto;

  background: #ffffff;
  border-radius: 12px;
  padding: 15px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notificationItem {
  padding: 10px;
  border-radius: 8px;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.unread {
  background: #eef2ff;
}


.date {
  font-size: 12px;
  color: #888;
}

.empty {
  text-align: center;
  color: #666;
}   